
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Vercel
.vercel

# Next.js
/.next/
/out/

# Production
/build

# Nuxt
.nuxt
dist

# Docusaurus
.docusaurus

# Vue
.vitepress/dist
.vitepress/cache

# Gatsby
.cache/
# # Comment in the public line in if your project uses Gatsby and not Next.js
# # https://nextjs.org/blog/next-9-1#public-directory-support
# public

# Mac
.DS_Store

# Yarn
yarn-error.log
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase
.firebase
firebase-debug.log
*.secret # Deprecated, use specific files like .env.local or platform secrets
*.secrets # Deprecated

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDE config
.vscode/
!.vscode/settings.json # Keep shared settings if any
!.vscode/extensions.json # Keep recommended extensions if any
!.vscode/launch.json # Keep launch configurations if any

# Misc
*.log
npm-debug.log*
coverage
*.orig
